# 1、mutica 配置
MULTICA_SERVER_URL=
MULTICA_APP_URL=
MULTICA_TOKEN=

# 2、opencode 第三方大模型配置，OPENCODE_MODEL支持配置多个模型ID,使用都好分隔
OPENCODE_PROVIDER=
OPENCODE_BASE_URL=
OPENCODE_API_TOKEN=
OPENCODE_MODEL=

# 3、cc-connect配置
CC_WORK_DIR=${HOME}/workspace/cc_feishu
CC_MODE=default  #"yolo"  # "default" | "acceptEdits" (edit) | "plan" | "auto" | "bypassPermissions" (yolo)
export FEISHU_APP_ID=
export FEISHU_APP_SECRET=